@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

.titulo{
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin: 3% 7%;
    color: chartreuse;
}

.container{
    display: flex;
    width: 80%;
    margin: 0% 10%;
}

#imgDestaque{
    width: 140%;
}

#container_destaque_info{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    font-size: 20px;
}

#container_destaque_info strong{
    color: chartreuse;
    font-size: 26px;
}

.container_destaqueinfo_fim{
    margin-bottom: 3%;
    margin-top: 1%;
}

.container__generosIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgIndex{
    width: 28%;
    /*border: cadetblue solid; (?????)*/
}

#login{
    display: flex;
    align-items: center;
    position: relative;
    width: 380px;
    height: 500px;
    background: #343434;
    border-radius: 8px;
}

#login__form{
    display: flex;
    flex-direction: column;
}