@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

*,*::after,*::before{
    box-sizing: border-box;
}
#cabecalho {
    display: flex;
    background-color: #121212;
}

.cabecalho__links{
    width: 100%;
    text-align: center;
    margin: 1.5% 0%;
}
.cabecalho__links-visitante{
    width: 100%;
    text-align: end;
    margin: 1.5% 0%;
}

.cabecalho__links__link{
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    color: black;
    background-color: #ffeba7;
    border-radius: 30px;
    border-style: solid;
    border-width: 4px;
    border-color: #102770;
    text-decoration: none;
    margin: 5%;
    padding: 10px;
}
.cabecalho__links__link:hover{
    color: #102770;
}
.logoutIcon{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.input-icon-logout {
    width: 98%;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 20px;
    left: 24px;
    height: 48px;
    font-size: 54px;
    line-height: 73px;
    color: #ffeba7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }  


.background{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-size: 120%;
  }
  
.titulo{
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin: 3% 7%;
    color: #ffeba7;
}
.background{
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
}
.container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 80%;
    margin: auto 10% auto auto;
}

#imgDestaque{
    width: 30%;
    margin: auto 3% auto auto;
}

#container_destaque{
    display: flex;
    flex-direction: column;
}

#container_destaque strong{
    color: #ffeba7;
    font-size: 32px;
}


:root{
}
.container-carousel{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.slider{
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0.25rem;
    transform: translateX(calc(var(--slider-index) * 100%));
}
.slider > img{
    flex: 0 0 25%;
    width: 5%;
    /*aspect-ratio: 16 /9;*/
    padding: 2rem;
    border-radius: 1rem;
}
.handle{
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    width: 5rem;
    background-color: #ffeba7;
    z-index: 10;
    margin: .25rem 0;
    padding: 0 .5rem;
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
}
.left-handle{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; 
}
.right-handle{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
}
.handle:hover,
.handle:focus{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 6rem;
}
.text{
    transition: transform 50ms ease-in-out;
}
.handle:hover .text,
.handle:focus .text{
    transform: scale(1.2);
}




.container_destaque__info{
    font-size: 20px;
}

.container__generosIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filme{
    width: 22%;
}


#rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative  ;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: 3%;
    background-color: #121212;
    color: aliceblue;
}