@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

#cabecalho {
    display: flex;
    background-color: #121212;
}

.cabecalho__links{
    width: 100%;
    text-align: center;
    margin: 1.5% 0%;
}
.cabecalho__links-visitante{
    width: 100%;
    text-align: end;
    margin: 1.5% 0%;
}

.cabecalho__links__link{
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    color: black;
    background-color: #ffeba7;
    border-radius: 30px;
    border-style: solid;
    border-width: 4px;
    border-color: #102770;
    text-decoration: none;
    margin: 5%;
    padding: 10px;
}
.cabecalho__links__link:hover{
    color: #102770;
}


.background{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-size: 120%;
  }
  
  .titulo{
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin: 3% 7%;
    color: #ffeba7;
}
.background{
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
}
.container{
    display: flex;
    width: 80%;
    margin: 0% 10%;
}

#imgDestaque{
    width: 140%;
}

#container_destaque_info{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    font-size: 20px;
}

#container_destaque_info strong{
    color: #ffeba7;
    font-size: 26px;
}

.container_destaqueinfo_fim{
    margin-bottom: 3%;
    margin-top: 1%;
}

.container__generosIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgIndex{
    width: 28%;
}
  

#rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: 3%;
    background-color: #121212;
    color: aliceblue;
}