body{
    width: 100%;
    box-sizing: border-box;
    background-color: #1a1a1a;
}

.titulo{
    color: aliceblue;
    font-size: 45px;
    margin-left: 5%;
    margin-top: 2%;
    font-family: monospace;
    padding-top: 30px;
}

strong{
    color: cyan;
    font-size: 35px;
}

#destaque{
    display: block;
    box-shadow: inset 0 0 10px whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
}

#infoDestaque{
    color: aliceblue;
    font-size: 25px;
    margin-top: 2%;
    margin-right: 10%;
}

#arrumaShadowBox{
    padding-bottom: 10%;
}

#capaDestaque{
    float: left;
    width: 25%;
    margin: 0 3% 0 9%;
}

#fantasia{
    display: block;
    box-shadow: inset 0 0 10px whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
}

.filmeFantasia{
    width: 20%;
    margin: 2% 0 20px 10px;
}

.caixaFilme{
    display: flex;
    justify-content: center;
    align-items: center;
}

#terror{
    display: block;

}