body{
    width: 100%;
    box-sizing: border-box;
    background-color: #1a1a1a;
}

.titulo{
    color: aliceblue;
    font-size: 45px;
    margin-left: 10%;
    margin-top: 5%;
    font-family: monospace;
}

strong{
    color: cyan;
    font-size: 35px;
}

#infoDestaque{
    position: relative;
    color: aliceblue;
    font-size: 25px;
    margin-top: 2%;
    margin-right: 10%;
}

#capaDestaque{
    float: left;
    width: 25%;
    margin: 0 3% 0 15%;
}

.generos{
    position: absolute;

}